/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__links li,
.login li {
  list-style-type: none;
}
.logo {
  display: flex;
  width: 300px;
}
.header__links {
  display: flex;
  gap: 20px;
  margin-left: 100px;
}
.logo__img {
  width: 100%;
}
.header__link {
  color: black;
  font-weight: 700;
  font-size: 24px;
}
.login {
  display: flex;
  gap: 20px;
  font-weight: 700;
  font-size: 24px;
}
.login_l a {
  color: black;
}
.cont1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 800px;
  background-color: #e96f2e;
  color: wheat;
}
.cont1__div h1 {
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 50px;
}
.cont1__div p {
  font-size: 1.5em;
  width: 45em;
}
.cont1__btn {
  padding-top: 100px;
}
.btn {
  width: 13em;
  height: 5em;
  color: #fff;
  background-color: #76bb3f;
  transition: 300ms;
}
.btn:hover {
  background-color: rgba(255, 166, 0, 0.582);
}
.cont2__div {
  background-color: rgb(127, 134, 197);
}
.cont2__cy {
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  padding: 50px;
}
.cont2__categories {
  display: flex;
  justify-content: space-around;
}
.cont2__category {
  background-color: #fff;
  margin-bottom: 120px;
  text-align: center;
  border: 24px solid #333;
  transition: 350ms;
}
.cont2__category:hover {
  transform: translate(1px, 3%);
}
.cont2__category p {
  padding: 25px 0 25px 0;
  font-size: 24px;
  font-weight: 900;
  border-top: 3px solid #333;
}
.categ__img {
  width: 350px;
  height: 350px;
}
.cont3 {
  background-color: #6bbe6b;
  padding: 55px;
}
.cont3__div {
  justify-content: center;
}
.cont3__containers {
  justify-content: space-evenly;
  display: flex;
}
.cont3__container {
  margin: 55px 0 55px 0;
  padding-bottom: 5em;
}
.cont3__container {
  width: 20em;
  border: 5px solid #ffffff;
  border-radius: 50px;
  transition: 300ms;
}
.cont3__container:hover {
  transform: translate(1px, 3%);
}
.cont3__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 120px 0;
  padding-top: 100px;
}
.cont3__h1 h1 {
  width: fit-content;
  padding: 0 55px;
  border-bottom: 10px solid #000000;
}
.container__img {
  width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.cont3__container p {
  color: #ffffff;
  padding-top: 10px;
  text-align: center;
  font-weight: 700;
  border-top: 5px solid #333;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.cont4 {
  color: white;
  background-color: rgba(150, 98, 3, 0.582);
  padding: 35px;
}
.cont4__div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #916e6e;
}
.cont4-us {
  width: 35%;
  margin-left: 140px;
  text-align: center;
}
.cont4__ul {
  padding: 44px 200px;
}
.cont4__ul h1 {
  margin: 15px 0;
  border-bottom: 3px solid #916e6e;
}
.list {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #343c9ead;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
}
.list ul a li {
  color: white;
  font-size: 18px;
  font-weight: 900;
  margin: 12px;
}
